:root {
  --clr-primary-300: hsl(185, 75%, 39%);
  --clr-primary-500: hsl(229, 23%, 23%);
  --clr-primary-200: hsl(227, 10%, 46%);

  --clr-neutral-200: hsl(0, 0%, 59%);

  --ff-base: "Kumbh Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--clr-primary-300);
  font-size: 12px;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-200);
  /*background-image: url(images/bg-pattern-top.svg); */
}

hr {
  color: var(--clr-neutral-200);
  opacity: 0.8;
  border-top: 1px;
  margin: 1.2rem 0;
}

.flex-group {
  display: flex;
  gap: 1rem;
  padding: 0 1.7rem;
  justify-content: space-around;
}

.profile {
  display: grid;
  justify-content: center;
  margin: 1rem;
  text-align: center;
  background-color: white;
  overflow: hidden;
  border-radius: 1rem;
  padding-bottom: 1.5rem;
  max-width: 275px;
}

.avatar {
  border-radius: 100%;
  border: 5px solid white;
  position: absolute;
  translate: 95px 65px;
  width: 90px;
}

.profile-text {
  padding-top: 3.5rem;
}

.title {
  font-size: 16px;
  color: var(--clr-primary-500);
  padding-bottom: 0.25rem;
}

.age {
  color: var(--clr-primary-200);
  font-weight: var(--fw-regular);
}

.attribution {
  text-align: center;
  font-size: 10px;
  font-family: var(--ff-base);
  color: var(--clr-primary-500);
}

.attribution a {
  text-decoration: none;
  color: lightblue;
}

.attribution a:hover {
  color: white;
}

.stats {
  font-weight: var(--fw-regular);
  font-size: 8px;
  letter-spacing: 1px;
}

.flex-group span {
  font-size: 14px;
  letter-spacing: 0;
  color: var(--clr-primary-500);
  font-weight: var(--fw-bold);
}
